<h1>GoJS / Angular - Components Sample</h1>



<div style="width:100%; white-space:nowrap;">
  <span style="display: inline-block; vertical-align: top; padding: 2px; width:140px">
      
    <div id="myPaletteDiv" style="background-color: whitesmoke; border: solid 1px black; height: 400px"></div>
      
    <div id="myOverviewDiv" style="border: solid 1px black; height: 100px"></div>
    
  </span>
  <span style="display: inline-block; vertical-align: top; padding: 2px; width:500px">
      
    <div id="myDiagramDiv" style="border: solid 1px black; height: 500px"></div>  
  </span>
  <span style="display: inline-block; vertical-align: top; padding: 2px; 
  width:200px">
      <div id="myInspectorDiv" class="inspector"></div>
  </span>
  <textarea id="mySavedPaletteModel" style="width:100%;height:200px"></textarea>
  <div id="myArrowheadInfo" style="color:red"></div>
</div>