<h1>GoJS / Angular - Components Sample</h1>

<div style="width:100%; white-space:nowrap;">
  <span style="display: inline-block; vertical-align: top; padding: 2px; width:140px">
    <div id="myPaletteDiv" style="background-color: whitesmoke; border: solid 1px black; height: 400px"></div>
    <div id="myOverviewDiv" style="border: solid 1px black; height: 100px"></div>
  </span>
  <span style="display: inline-block; vertical-align: top; padding: 2px; width:500px">
    <div id="myDiagramDiv" style="border: solid 1px black; height: 500px"></div>
  </span>
  <span style="display: inline-block; vertical-align: top; padding: 2px; width:200px">
    <div id="myInspectorDiv" class="inspector"></div>
  </span>
</div>
<p>
  This sample supports the normal kind of drag-and-drop from a <a>Palette</a> to a <a>Diagram</a>.
  The Data <a>Inspector</a> allows you to edit the properties of a selected node in the diagram.
</p>
<p>
  This sample also supports dynamically adding a copy of a selected node in the diagram to the
  palette by the "Add To Palette" button.
  See the current state of the palette's model in the top textarea.
  The palette is <a>Diagram.isReadOnly</a>, so the user cannot delete selected nodes from the palette.
  But the "Delete From Palette" button removes any selected nodes from the palette.
</p>
<div>
  <button (click)="addToPalette()">Add To Palette</button>
  <button (click)="removeFromPalette()">Delete From Palette</button>
  Palette model:
</div>
<textarea id="mySavedPaletteModel" style="width:100%;height:200px"></textarea>
<div>
  <button id="loadModel" (click)="load()">Load</button>
  <button id="saveModel" (click)="save()">Save</button>
  Diagram model:
</div>
<textarea id="mySavedModel" [(ngModel)]='linkModel' style="width:100%;height:200px">
</textarea>