<div id="main">
  <h2>Title</h2>
  <ul class="tiles">
  <li class="tile">
    <header>
      <i class="fa fa-file-text" title="View PDF Report"></i>
      <i class="fa fa-paperclip" title="View attachments"></i>
      <label>
        <input type="checkbox" title="Select this item" />
        <span>#123456</span>
      </label>
    </header>
    <section class="body">
      <h3>Product Name 1A Truncated</h3>
      <p class="complete">
        <i class="fa fa-check-circle"></i> Completed 18/11/2015 10:46</p>
      <p class="incomplete">
        <i class="fa fa-question-circle"></i> Incomplete</p>
      <div class="details">
        <dl></dl>
        <dl></dl>
        <dl></dl>
      </div>
    </section>
  </li>
</ul>
</div>
<div class="overlay" ></div>