<textarea #userInput type="text" rows="20" cols="150">
A(0,0,0)
B(0,1,1)
A -->* B
B *--> A
C -->% A
D -->+ A
D -->* B
A --><> (B, D)
</textarea>

<button (click)="parse(userInput.value)">Parse</button>
<button (click)="time()">Time</button>

<p>{{ errorMsg }}</p>

<table class="table">
  <tr>
    <th>Executed</th>
    <th>Included</th>
    <th>Pending</th>
    <th>Enabled</th>
    <th>Name</th>
  </tr>

  <tr *ngFor="let gs of graphStatus">
    <td>{{ gs.executed ? "V:" + gs.lastExecuted : "" }}</td>
    <td>{{ gs.included ? "yes" : "no" }}</td>
    <td>
      {{
        gs.pending
          ? "yes" + (gs.deadline === undefined ? "" : ":" + gs.deadline)
          : "no"
      }}
    </td>
    <td>{{ gs.enabled }}</td>
    <td>
      <button (click)="execute(gs.name)" [disabled]="!gs.enabled">
        {{ gs.label }}
      </button>
    </td>
  </tr>
</table>
