<mat-toolbar class="navigation">
  <mat-toolbar-row>

    <button mat-button routerLink="/select" routerLinkActive="navigation__link--is-active">Home</button>
    <button mat-button routerLink="/about" routerLinkActive="navigation__link--is-active">About</button>
    <button mat-button routerLink="/contact" routerLinkActive="navigation__link--is-active">Contact Us</button>

    <span class="spacer"></span>

    <button mat-button (click)="createProject()">New Project</button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="margin-top: 100px;
            margin-bottom: 50px;
            margin-left: 50px;">
  <h1>DCR Graph Manager</h1>
  <p>A Dynamic Condition Response Graphs Tool</p>
</div>