.page {
    max-width: 80%;
    margin: auto;
}

.spacer {
    flex: 1 1 auto;
}

tbody tr:hover{
    cursor: pointer;
    background-color: #8080803b;
}

/* Styles for tab labels */
/* .mat-tab-label {
    min-width: 25px !important;
    background-color: transparent;
    color: black;
    font-weight: 700;
} */

/* Styles for the active tab label */
/* .mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    background-color: transparent;
    color: black;
    font-weight: 700;
    background-color: rgb(240, 240, 240);
} */

.items {
    outline-style: double;
    outline-width: 2px;
    outline-color: rgb(240, 240, 240);
}

/* hover of items in tabs */
.items:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

/* .mat-list {
    padding: 0.1cm;
    background-color: white;
} */

/* Lines of the items,
line1 is the title, line2 is the undertext */
/*
.line1{   
}

.line2{
    color: rgb(138, 138, 138);
}
*/
.space  {
    padding-bottom: 6cm;
}

table {
    width: 100%;
}

/* Trying */
/* body {
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("https://user-images.githubusercontent.com/26748614/96337412-581f2e80-1087-11eb-90f3-f033a8a1b41e.jpg");
    background-size: cover;
    z-index: -100;
} */