.spacer {
  flex: 1 1 auto;
}


.header {
  height: 2.2cm;
  color: rgb(240, 240, 240);
}

.underlink{
  color: black;
  font-size: 70%;
}


.link {
  padding-top: 2cm;
  color: black;
  font-size: 170%;
  margin-right: 2cm;
  
}

.menu-button {
  font-size: small;
  padding-inline-start: 1cm;
  padding-inline-end:  1cm;
  color: black;
}



.menu-button:hover {
  background-color:rgb(220, 220, 220);
}

::ng-deep .customize {
  background-color: rgb(240, 240, 240);
  outline-style: double;
  outline-width: 2px;
  outline-color: rgb(240, 240, 240);
}

