.spacer {
  flex: 1 1 auto;
}


.header {
  min-height: 80px;
  max-height: 160px;
  height: auto;
}

.graph-title {
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 300px;
}

.underlink{
  color: black;
  font-size: 70%;
}


.home {
  margin: 10px;
  color: black;
  font-size: 50px;
}

::ng-deep .customize {
  background-color: rgb(240, 240, 240);
  outline-style: double;
  outline-width: 2px;
  outline-color: rgb(240, 240, 240);
}

