<mat-toolbar color="primary">
  <span>GCR graph</span>

  <button mat-button [matMenuTriggerFor]="edit">Edit</button>
  <mat-menu #edit="matMenu">
    <button mat-menu-item (click)="handleOnAddObject()">Add object</button>
    <button mat-menu-item (click)="handleOnRemoveObject()">Remove object</button>
    <button mat-menu-item (click)="handleOnConnectObject()">Connect object</button>
    <button mat-menu-item (click)="handleOnSaveAs()">Save as</button>
    <button mat-menu-item (click)="handleOnLoad()">Load</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="simulate">Simulate</button>
  <mat-menu #simulate="matMenu">
    <button mat-menu-item (click)="handleOnSimulateGraph()">Run Simulate on graph</button>
    <button mat-menu-item (click)="handleOnEditParameters()">Edit parameters</button>
    <button mat-menu-item (click)="handleOnViewExecutionLog()">View execution log</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="analyze">Analyze</button>
  <mat-menu #analyze="matMenu">
    <button mat-menu-item (click)="handleOnAnalyzeGraph()">Run analyse on graph</button>
    <button mat-menu-item (click)="handleOnViewMetrics()">View metrics</button>
    <button mat-menu-item (click)="handleOnViewLogs()">View logs</button>
  </mat-menu>

  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="viewType">Select view type</button>
  <mat-menu #viewType="matMenu">
    <button
      mat-menu-item
      *ngFor="let vt of viewTypes"
      (click)="handleOnViewType(vt)"
    >
      {{ vt.charAt(0).toUpperCase() + vt.slice(1) }}
    </button>
  </mat-menu>

  <button mat-button (click)="handleOnShareGraph()">Share graph</button>
</mat-toolbar>
