

.box {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    margin: 0px 5%;
    padding: 5%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .spacer {
    margin-bottom: 6cm;
  }

.cell{
  padding-right: 40px;
  padding-left: 20px;
}

.column{
  padding-left: 19px;
  text-align: left;
}

.line{
  border: 1.5px solid #3f51b5;
  margin-bottom: 13px;
}

ul
{
list-style-type: none;
}