<div class="page">
    <app-header></app-header>



    <div class="box">
        <div>
        <h2>GitHub links & KUmails</h2>
        <ul>
            <li><a >Bence Olay</a>     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a href="https://github.com/Olaybence">GitHub</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a>jbd379@almuni.ky.dk</a> </li>
            <li><a >Emil E. Gerlach</a>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a href="https://github.com/Lotti1234">GitHub</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a>wdg470@almuni.ky.dk</a> </li>
            <li><a >Jonas Sværke </a>   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a href="https://github.com/Svaerken">GitHub</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a>btm676@almuni.ky.dk</a> </li>
            <li><a >Mikkel B. Thomsen</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a href="https://github.com/mbth">GitHub</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a>glb450@almuni.ky.dk</a> </li>
            <li> <a>Mads Emil Grell</a>    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a href="https://github.com/MassiGaren">GitHub</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
                <a>vpb466@almuni.ky.dk</a> </li>
        </ul>
        </div>
        
    </div>
    
    <div class="spacer"> <p> </p></div>

</div>
<div><app-footer></app-footer></div>