<div class="page">
    <app-header></app-header>



<div class="box">
    <div>
        <h2>Information for contact</h2>
    </div>
    <hr class="line">
    <table class="tg">
        <thead>
        <tr>
            <th class="column">Name</th>
            <th class="column">GitHub</th>
            <th class="column">KUmail</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="cell">Bence Olay</td>
            <a class="cell" href="https://github.com/Olaybence">GitHub</a>
            <td class="cell">jbd379@almuni.ky.dk</td>
        </tr>
        <tr>
            <td class="cell">Emil E. Gerlach</td>
            <a class="cell" href="https://github.com/Lotti1234">GitHub</a>
            <td class="cell">wdg470@almuni.ky.dk</td>
        </tr>
        <tr>
            <td class="cell">Jonas Sværke</td>
            <a class="cell" href="https://github.com/Svaerken">GitHub</a>
            <td class="cell">btm676@almuni.ky.dk</td>
        </tr>
        <tr>
            <td class="cell">Mikkel B. Thomsen</td>
            <a class="cell" href="https://github.com/mbth">GitHub</a>
            <td class="cell">glb450@almuni.ky.dk</td>
        </tr>
        <tr>
            <td class="cell">Mads Emil Grell</td>
            <a class="cell" href="https://github.com/MassiGaren">GitHub</a>
            <td class="cell">vpb466@almuni.ky.dk</td>
        </tr>
        </tbody>
    </table>
        
    </div>
    
    <div class="spacer"> <p> </p></div>

</div>
<div><app-footer></app-footer></div>