.button-head{
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.spacer{
  margin-bottom: 6cm;
}


.logs{
  margin-top: 40px;
  margin-left: 100px;
  width: 800px;
  padding: 100px;
}

.boxer {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 0px 5%;
  padding: 5%;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}