.bordered {
    background: #f5f5f5;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
}

.save {
    margin: 10px;
    margin-left: 25px;
    background-color: #a1ec94;
}

.delete {
    margin: 10px;
    margin-left: 25px;
    background-color: #ff19196b;
}


/* * {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 10px;
  width: fit-content;
}

p {
  padding: 0px;
  margin: 0px;
}

form {
  background: lightgray;
  border: 1px solid black;
}

input {
  clear: both;
  display: inherit;
  float: initial;
  font-weight: 300;
  border-radius: 10px;
  background: white;
}

input:focus {
  border-radius: 10px;
  outline: none;
} */