
  <div>
  <app-edit-header
    [graph]="graph"
    [selectedViewType]="selectedViewType"
    (onChangeView)="handleOnChangeView($event)"
  ></app-edit-header>
</div>

<div class="center">
  <ng-container *ngTemplateOutlet="graph ? Graph : Loading"></ng-container>
  <ng-template #Loading>
    <div style="text-align: center;">
      <!-- Loading circle if graph is null -->
      <div class="loading">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
    </div>
  </ng-template>

  <ng-template #Graph>
    <div style="text-align: center; margin-top: 10px;">
      <app-simulate *ngIf="renderSimulate()" (onBack)="handleOnChangeView('visual')"></app-simulate>
      <app-analyze *ngIf="renderAnalyze()" (onBack)="handleOnChangeView('visual')"></app-analyze>
      <app-visual-view *ngIf="renderVisualView()" [graph]="graph"></app-visual-view>
    </div>
  </ng-template>
</div>
  

<app-footer></app-footer>
