<!-- <div class="header">
    <div class="logo">
        <h2>DCR Graph Manager</h2>
    </div>
    <div class="middle">
        Welcome, to our wonderful world
    </div>
    <div class="create-graph">
        <button mat-raised-button color="primary">
            New Project
        </button>
    </div>
</div> -->

<mat-toolbar color="primary">
    <span>GCR graph</span>
    
    <span class="spacer"></span>
    
    <button mat-stroked-button class="new-project" (click)="createProject()">
        New Project
    </button>
  </mat-toolbar>
  