<mat-toolbar class="toolbar">
  <mat-toolbar-row>

    <button style="margin-left:10px;" mat-button (click)="directMain()">Home</button>
    <button style="margin-left:10px;" mat-button (click)="directUserManual()">User Manual</button>
    <button style="margin-left:10px;" mat-button (click)="directContactUs()">Contact Us</button>

    <span class="spacer"></span>

    <button mat-button (click)="createProject()">New Project</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="title">
  <h1>DCR Graph Manager</h1>
  <p>A Dynamic Condition Response Graphs Tool</p>
</div>