<div class="page">
    <app-header></app-header>

    <mat-tab-group>
        <mat-tab label="Local Projects">
            <mat-list>
                <mat-list-item (click)="selectGraph(graph)" class="items" *ngFor="let graph of localGraphs">
                    <div mat-line>#{{graph.id}} - {{graph.name}}</div>
                    <div mat-line>{{graph.shortDescription}}</div>
                </mat-list-item>
            </mat-list>
        </mat-tab>

        <mat-tab label="Shared Projects">
            <mat-list>
                <mat-list-item (click)="selectGraph(graph)" class="items" *ngFor="let graph of sharedGraphs">
                    <div mat-line>#{{graph.id}} - {{graph.name}}</div>
                    <div mat-line>{{graph.shortDescription}}</div>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
    
    <app-footer></app-footer>
</div>
