<div class="page">
    <app-header></app-header>

    <mat-tab-group>
        <mat-tab label="Local Projects">
            <mat-list>
                <mat-list-item (click)="selectGraph(graph)" class="items" *ngFor="let graph of localGraphs">
                    <div mat-line class= "line1">#{{graph.id}} - {{graph.name}}</div>
                    <div mat-line class="line2">{{graph.shortDescription}}</div>
                </mat-list-item>
            </mat-list>
        </mat-tab>

        <mat-tab label="Shared Projects">
            <mat-list class="items-items">
                <mat-list-item (click)="selectGraph(graph)" class="items" *ngFor="let graph of sharedGraphs">
                    <div mat-line class= "line1">  #{{graph.id}} - {{graph.name}} </div>
                    <div mat-line class="line2">  {{graph.shortDescription}} </div>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
    

    <div class="space"></div>
</div>

<div>    <app-footer></app-footer></div>

   

