<div class="page">
    <app-header></app-header>

 
    <div class="box">
        <div style="text-align:center">
          <h2 class="title">Contact Us</h2>
          <hr class="line">
        </div>
        <div class="row">
            <form action="/action_page.php">
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              <label for="country">Country</label>

              <select id="country" name="country">
                <option value="Denmark">Denmark</option>
                <option value="Sweden">Sweden</option>
                <option value="Norway">Norway</option>
                <option value="Germany">Germany</option>
              </select>

              <label for="subject">Message</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:80px"></textarea>
              
              <form action="/select">
                <input class = "send-b" type="submit" value="Send" />
              </form>
            </form>
        </div>
      </div>

</div>

    <div class="spacer">
        <p> </p>
    </div>
<div> 
    
    <app-footer></app-footer>
